@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;700;900&family=Raleway:wght@400;900&display=swap");

:root {
  --team: #dc5e53;
  --news: #98dc62;
  --work: #0766f0;
  font-family: "Kanit", sans-serif;
}

body {
  display: flex;
  flex-flow: column wrap;
}
/*----------HEADER----------------*/

.header {
  background-image: url(../../images/nicole.jpg);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}
.header__logo {
  width: 50px;
  margin: 1em 1em 0 2em;
}
.header__news {
  align-self: center;
  justify-content: center;
  background-color: rgba(249, 249, 249, 0.45);
  color: white;
  padding: 0 0 0 10em;
  margin-right: 1em;
}
.header__title {
  line-height: 20px;
  position: relative;
  margin-top: 0.5em;
}

/**************MAIN******************/
.main {
  width: 50%;
  height: 100%;
  position: relative;
  left: 50%;
  background-color: #f9f9f9;
}
/**********BANDEAU***********/
.latest__news {
  background-color: #f9f9f9;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  margin-right: 20px;
  position: relative;
}
/***********articles*********/
.news__container {
  display: flex;
  flex-flow: row wrap;
  width: 98%;
  background-color: #fff;
}
.news {
  border: 1px solid #eaeaea;
  flex-flow: row wrap;
  width: 50%;
  padding: 1em;
}

.news__type__container {
  display: inline;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
}
.news__type--news {
  background-color: var(--news);
  border: 1px solid var(--news);
  border-radius: 5px;
  padding: 5px;
}
.news__type--team {
  background-color: var(--team);
  border: 1px solid var(--team);
  border-radius: 5px;
  padding: 5px;
}
.news__type--work {
  background-color: var(--work);
  border: 1px solid var(--work);
  border-radius: 5px;
  padding: 5px;
}
.news__title {
  font-weight: bolder;
  color: #000;
  font-size: 1.5em;
  margin-top: 10px;
}
.news__writer {
  display: flex;
  flex-flow: row wrap;
}

.news__writer__pic {
  width: 10%;
}
.news__writer__name {
  font-weight: bold;
  font-size: 1em;
  align-self: center;
  padding-left: 1em;
}
.news__date {
  font-weight: normal;
  font-size: 62.5%;
  color: #888;
}
.continue {
  color: #007bff;
  font-weight: bold;
}
.continue:hover {
  color: #0056b3;
}

/*------------FOOTER-----------*/
.footer {
  position: fixed;
  left: 25%;
  bottom: 0%;
  font-size: small;
}
.footer__container {
  width: 50%;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
}
.footer__element {
  text-transform: uppercase;
}
.footer__link {
  text-decoration: none;
  color: white;
  display: inline-block;
}
