body,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
li,
ol,
p,
ul {
  padding: 0;
  border: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
aside,
figure,
footer,
header,
section {
  display: block;
  padding: 0;
  margin: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body,
input {
  font-family: HK Grotesk, arial, sans-serif;
}
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: VP Next, arial, sans-serif;
}
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  transform: rotate(3deg) translateY(-4px);
}
@font-face {
  font-family: VP Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Regular.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Regular.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: VP Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Italic.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Italic.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: VP Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Medium.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Medium.woff)
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: VP Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-MediumItalic.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-MediumItalic.woff)
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: VP Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Bold.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-Bold.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: VP Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-BoldItalic.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpNext/VPSansNext-BoldItalic.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Regular.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Regular.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Italic.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Italic.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Medium.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Medium.woff)
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-MediumItalic.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-MediumItalic.woff)
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-SemiBold.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-SemiBold.woff)
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-SemiBoldItalic.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-SemiBoldItalic.woff)
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Bold.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-Bold.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: HK Grotesk;
  src: url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-BoldItalic.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/hkGrotesk/HKGrotesk-BoldItalic.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: VP Condensed Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpCondensedNext/VPCondensedNext-Regular.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpCondensedNext/VPCondensedNext-Regular.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: VP Condensed Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpCondensedNext/VPCondensedNext-Bold.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpCondensedNext/VPCondensedNext-Bold.woff)
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: VP Condensed Next;
  src: url(https://static.vente-privee.com/vp5/fonts/vpCondensedNext/VPCondensedNext-Light.woff2)
      format("woff2"),
    url(https://static.vente-privee.com/vp5/fonts/vpCondensedNext/VPCondensedNext-Light.woff)
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url(https://static.vente-privee.com/vp5/fonts/marianne/Marianne-Bold.otf)
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url(https://static.vente-privee.com/vp5/fonts/marianne/Marianne-ExtraBold.otf)
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=406944a4ca66f746.css.map*/
