* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.parent {
  background-color: #23424a;
  padding: 50 px;
  /* margin: 900px; */
  margin: 0 auto;
  width: 88%;
}
.child {
  background-color: #38cfd9;
  width: 50%;
  height: 250px;
}
