body {
  font-family: "Raleway", Arial, sans-serif;
}

/* -- GENERICS -- */

.container {
  max-width: 800px;
  margin: 15px auto;
}

/* -- HEADER -- */

.header {
  color: white;
}

.header__title-container {
  background-color: #c80000;
  padding: 15px;
  display: flex;
  align-items: flex-end;
}

.header__title {
  font-weight: bold;
  font-size: 2rem;
}

.header__subtitle {
  margin-left: 10px;
}

.header__theme-container {
  background-color: #666;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.header__theme-title-franchise {
  font-style: italic;
  font-size: 1.1rem;
}

/* -- PRODUCT -- */

.product-list__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 30%;
  padding: 5px;
}

.product-list__item-img {
  width: 100%;
}

.product-list__item-saga {
  color: #ccc;
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  padding: 3px;
  margin: 3px;
}

.product-list__item-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 4px;
}

.product-list__item-description {
  margin: 4px;
  font-size: 0.8rem;
}

.product-list__item-add-to-cart {
  color: #fff;
  background-color: #c80000;
  padding: 15px;
  font-size: 0.8rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.product-list__item-price {
  font-size: 0.9rem;
  font-weight: bold;
}

.product-list__item-price--strike {
  font-size: 0.8rem;
  font-weight: normal;
  text-decoration: line-through;
  display: fl;
}
