body {
  font-family: sans-serif;
  background-color: #fff3db;
}

.titre {
  background-color: #f02425;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}
h1 {
  color: #fff;
  font-size: 3em;
}
.img {
  display: block;
  margin: auto;
}
.rouge {
  color: #f02425;
}
h2,
h3 {
  text-align: center;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-style: italic;
  text-decoration: underline;
  font-weight: 100;
}
.astuce {
  background-color: #eab676;
  text-align: center;
  color: #666;
  font-style: italic;
  font-weight: bold;
}
.bleu {
  color: #1e81b0;
  font-weight: bold;
}
.gras {
  font-weight: bold;
}
